.nav {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 1rem;
  top: calc(1em + 1.8rem);
  a {
    width: 64px;
    height: 64px;
    display: block;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background: center/cover no-repeat;
    position: relative;
    &:visited { }
    &:hover::after {
      content: attr(data-tooltip);
      position: absolute;
      top: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      color: var(--HB_Color_HeaderText);
      background-color: var(--HB_Color_Background);
      border: 1px solid var(--HB_Color_HeaderText);
      padding: 5px 10px;
      border-radius: 8px;
      font-size: 16px;
      pointer-events: none;
    }
  }
  .home { background-image: url('homebutton.png'); }
  .up { background-image: url('upbutton.png'); }
}
